<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baza przetargów</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button" >Strona główna</a>

        <!--        <a class="nav-link" href="{% url "index" %}">Strona główna</a>-->
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary btn-lg" href="{% url 'pge-view' %}" role="button" >Przetargi
            PGE</a>

    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary btn-lg" href="{% url 'tauron-view' %}" role="button" >Przetargi
            Tauron</a>

    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary btn-lg" href="{% url 'enea-view' %}" role="button" >Przetargi
            Enea</a>

    </li>
    <li class="nav-item">
        <a class="btn btn-outline-primary btn-lg" href="{% url 'energa-view' %}" role="button" >Przetargi
            Energa</a>

    </li>
</ul>

{% block content %}
{% endblock %}


</body>
</html>